
body, h1, h2, h3, p, ul, li, figure, figcaption {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

#hero {
    text-align: center;
    padding: 100px 0;
}

#hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#hero h1 {
    margin-top: 20px;
    font-size: 3rem;
}

#hero p {
    margin-top: 10px;
    font-size: 26px;
    color: #666;

}

#hero button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#features {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px 0;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
    max-width: 300px;
}

.feature img {
    max-width: 150%;
    height: auto;
    margin-bottom: 20px;
}

#additional-features{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* padding: 80px 0; */

}

.additional-feature {
    text-align: center;
    margin-bottom: 30px;
    max-width: 300px;
}

.additional-feature img{

    max-width: 150%;
    height: auto;
    margin-bottom: 20px;
  

}


#testimonials {
    background-color: #dbd2d2;
    padding: 80px 0;
}

.testimonial {
    text-align: center;
    margin-bottom: 30px;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial p {
    font-style: italic;
    color: black;
}

.testimonial cite {
    font-weight: bold;
}

#contact {
    background-color: #f0f0f0; 
    padding: 20px;
}

#contact h2 {
    color: #333; 
}

#contact-form {
    max-width: 600px; 
    margin: 0 auto; 
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049; 
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }
}

@media (max-width: 680px) {
    #hero {
        padding: 80px 20px;
    }

    #hero h1 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 18px;
    }

    #hero button {
        margin-top: 10px;
        font-size: 14px;
    }

    #features,
    #additional-features {
        padding: 60px 20px;
    }

    .feature,
    .additional-feature {
        max-width: 100%;
    }

    .feature img,
    .additional-feature img {
        max-width: 100%;
    }

    #testimonials {
        padding: 80px 20px;
    }

    .testimonial {
        max-width: 100%;
    }

    #contact {
        padding: 20px;
    }

    #contact-form {
        max-width: 100%;
    }

    label,
    input,
    textarea {
        width: 100%;
    }

    footer {
        padding: 40px 20px;
    }
}

@media (max-width: 320px) {
    #hero h1 {
        font-size: 2rem;
    }

    #hero p {
        font-size: 16px;
    }

    #hero button {
        font-size: 12px;
    }
    .testimonial img {
        max-width: 100%; 
        height: auto; 
      
    }
}


@media (max-width: 500px) {
    .testimonial {
        max-width: 150%; 
     margin-left: auto;
        margin-right: auto;
    }
}  